h2 .home{
color: var(--clr-primary-3);
}
h2{
    color: var(--clr-primary-1);
    font-size: 1.8rem;
    font-weight: 600;
}
.bar{
    background-color: var(--clr-primary-10);    
    padding: 2rem 1rem;
}