.container.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  animation-name: animationContact;
  animation-duration: 4s;
  transform: translateY(0%);
}

@keyframes animationContact {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0%);
  }
}

/* The element to apply the animation to */

/* ================== FORM ================== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 30rem;
}

input,
textarea {
  resize: none;
  width: 100%;
  padding: 1.5rem;
  background: transparent;
  border: 2px solid var(--clr-primary-9);
  border-radius: 0.5rem;
  color: var(--color-white);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) =================== */

/* @media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) =================== */

/* @media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
} */
